$zIndexs: (0, 10, 20, 30, 40, 50, 60, 70, 80, 90, auto);

@each $index in $zIndexs {
  .z-#{$index} {
    z-index: $index;
  }
}

@each $point, $value in $breakpoints {
  @include media($value) {
    @each $index in $zIndexs {
      .#{$point}\:z-#{$index} {
        z-index: $index;
      }
    }
  }
}
