@mixin drop-shadow-elevation($num) {
  @if $num == 1 {
    box-shadow: 0 0 5px 0 $setting-drop-shadow-color;
  } @else if $num == 2 {
    box-shadow: 0 0 8px 0 $setting-drop-shadow-color;
  } @else if $num == 3 {
    box-shadow: 0 0 10px 0 $setting-drop-shadow-color;
  } @else if $num == 4 {
    box-shadow: 0 0 12px 0 $setting-drop-shadow-color;
  } @else if $num == 5 {
    box-shadow: 0 0 15px 0 $setting-drop-shadow-color;
  } @else {
    @error "Unknown direction #{$direction}.";
  }
}
