.grid {
  display: grid;
}

@each $break, $value in $setting-breakpoint-sizes {
  @include breakpoint($break) {
    .#{$break}-1-column {
      grid-template-columns: 1fr;
    }

    .#{$break}-2-columns {
      grid-template-columns: repeat(2, 1fr);
    }

    .#{$break}-3-columns {
      grid-template-columns: repeat(3, 1fr);
    }

    .#{$break}-4-columns {
      grid-template-columns: repeat(4, 1fr);
    }

    .#{$break}-5-columns {
      grid-template-columns: repeat(5, 1fr);
    }

    .#{$break}-6-columns {
      grid-template-columns: repeat(6, 1fr);
    }

    .#{$break}-left-sidebar {
      grid-template-columns: 1fr 2fr;
    }

    .#{$break}-right-sidebar {
      grid-template-columns: 2fr 1fr;
    }
  }
}
