$whitespaces: (normal, nowrap, pre, pre-line, pre-wrap);

@each $whitespace in $whitespaces {
  .whitespace-#{$whitespace} {
    white-space: $whitespace;
  }
}

@each $point, $value in $breakpoints {
  @include media($value) {
    @each $whitespace in $whitespaces {
      .#{$point}\:whitespace-#{$whitespace} {
        white-space: $whitespace;
      }
    }
  }
}
