$breakpoints: (
  xs: 0px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xl2: 1536px,
  xl3: 1920px,
);

$columnsAndRows: (
  1: repeat(1, minmax(0, 1fr)),
  2: repeat(2, minmax(0, 1fr)),
  3: repeat(3, minmax(0, 1fr)),
  4: repeat(4, minmax(0, 1fr)),
  5: repeat(5, minmax(0, 1fr)),
  6: repeat(6, minmax(0, 1fr)),
  none: none,
);

$columnAndRowSpans: (
  auto: auto,
  1: span 1 / span 1,
  2: span 2 / span 2,
  3: span 3 / span 3,
  4: span 4 / span 4,
  5: span 5 / span 5,
  6: span 6 / span 6,
);

$columnAndRowStartsAndEnds: (auto, 1, 2, 3, 4, 5, 6);

$fontSizes: (
  xs: 0.75rem,
  // 12px
  sm: 0.875rem,
  // 14px
  def: 1rem,
  // 16px
  lg: 1.125rem,
  // 18px
  xl: 1.25rem,
  // 20px
  xl2: 1.5rem,
  // 24px
  xl3: 1.875rem,
  // 30px
  xl4: 2.25rem,
  // 36px
  xl5: 3rem,
  // 48px
  xl6: 3.75rem,
  // 60px
  xl7: 4.5rem,
  // 72px
  xl8: 6rem,
  // 96px
  xl9: 8rem,
  // 128px
);

$lineHeights: (
  1: 1,
  1\.2: 1.2,
  1\.5: 1.5,
  1\.6: 1.618,
  2: 2,
);

$sizing: (
  0: 0px,
  1\/6: 16.66667%,
  2\/6: 33.3333%,
  3\/6: 50%,
  4\/6: 66.66667%,
  5\/6: 83.33333%,
  full: 100%,
  screen: 100vw,
  min: min-content,
  max: max-content,
);

$spacing: (
  auto: auto,
  0: 0,
  0\.5: 0.5,
  1: 1,
  1\.5: 1.5,
  2: 2,
  2\.5: 2.5,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
);
